on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env: 
  REGISTRY: "registry.digitalocean.com/henar"
  IMAGE_NAME: "henar-backend"
  CONTAINER_NAME: "henar-backend"

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: checkout main
        uses: actions/checkout@v2

      - name: build image
        run: docker build -t $(echo $REGISTRY)/$(echo $IMAGE_NAME):$(echo $GITHUB_SHA | head -c7) .

      - name: install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_API_KEY }}

      - name: login to do container registry
        run: doctl registry login --expiry-seconds 600

      - name: push image to registry
        run: docker push $(echo $REGISTRY)/$(echo $IMAGE_NAME):$(echo $GITHUB_SHA | head -c7)

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps: 
      - name: deploy
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          envs: IMAGE_NAME, REGISTRY, CONTAINER_NAME, GITHUB_SHA
          script:
            docker login -u ${{ secrets.DO_API_KEY }} -p ${{ secrets.DO_API_KEY }} $(echo $REGISTRY)

            docker stop $(echo $CONTAINER_NAME) || true

            docker rm $(echo $CONTAINER_NAME) || true

            docker run -d --name $(echo $CONTAINER_NAME) -p 8080:8080 $(echo $REGISTRY)/$(echo $IMAGE_NAME):$(echo $GITHUB_SHA | head -c7)              
